{% extends 'main/global_pattern.html' %}

{% block title %}Создание записи выпускника{% endblock %}

{% block content %}

<form method="post" class="form-container">
    <h1>Создание записи трудовой истории выпускника</h1>
    {% csrf_token %}
    <div class="form-group">
        {{ form.name.label_tag }} {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.address.label_tag }} {{ form.address }}
    </div>
    <div class="form-group">
        {{ form.inn.label_tag }} {{ form.inn }}
    </div>
    <div class="form-group">
        {{ form.okved.label_tag }} {{ form.okved }}
    </div>
    <div class="form-group">
        {{ form.phone_number.label_tag }} {{ form.phone_number }}
    </div>
    <div class="form-group">
        {{ form.email.label_tag }} {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.website.label_tag }} {{ form.website }}
    </div>
    <button type="submit" class="btn-submit">Сохранить</button>
</form>

{% endblock %}