body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    flex-direction: column; /* Добавлено для корректного отображения header */
    min-height: 100vh;
}

h1 {
    margin-top: -20px;
}


.login-container {
    margin-left: auto;
}

.contact-info {
    position: absolute;
    top: 12%;
    left: 80%;
    text-align: center;
    color: #fff;
}

.contact-info .phone-number {
    margin: 0;
    font-weight: bold;
}

.contact-info .call-text {
    margin: 0;
}

.login-button {
    color: #fff;
    background: #9d2af5;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.login-button:hover {
    background: #cd05ff;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background: #0c0091;
    width: 20%;
    height: 100vh;
    padding: 2.5%;
    color: #fff;
    border-right: 5px solid #9d2af5;
    overflow-y: auto;
    box-sizing: border-box; /* Учитываем padding и border в ширине и высоте */
}

aside img {
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
}

aside .logo {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    color: #fff;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #cd05ff;
    text-decoration: none;
    transform: scale(1.05);
}

aside p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    padding: 20px;
    margin-left: 20%; /* Отступ слева, чтобы main не заходил на aside */
    overflow-y: auto;
    box-sizing: border-box; /* Учитываем padding в ширине */
}