.data_list{
    float: left;
    margin-top: 40px;
    width: 75%;
    position: relative;
    left: 35px;
}

.data_list h1 {
    text-align: center;
    font-size: 50px;
    text-align: left;
}

.data_list p {
    position: relative;
    margin: 20px auto;
}

header {
    width: 100%;
    background: #0c0091;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 60px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('background_form.jpg');
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.from-container h1{
    float: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-submit {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3;
}
