{% extends 'main/global_pattern.html' %}
{% load static %}

{% block title %}Информация{% endblock %}

{% block content %}
    <div class="features">
        <h1>Информация</h1>
        <p>Данное web-приложение ограниченного доступа.</p>
        <p>Для получения доступа к сервису, обратитесь к администратору для получения реквизитов своего личного аккаунта.</p>
        <p><strong>E-mail администратора:</strong>  example@example.com</p>
        <p>Переход на официальный сайт ВИВТ <a href="https://vivt.ru">здесь</a>. </p>
    </div>
{% endblock %}