{% extends 'main/global_pattern.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Добро пожаловать в наше веб-приложение для учёта трудоустройства выпускников!</p>
    <p>Наша система позволяет организовать полный учёт данных о выпускниках, включая следующую информацию:</p>
    <ul>
      <li>Информация о выпускнике: ФИО, дата рождения, пол, гражданство, адрес проживания (по КЛАДР), телефон, электронная почта, СНИЛС.</li>
      <li>Образование: код, название и профиль направления подготовки, годы поступления и окончания, форма обучения.</li>
      <li>Трудовая деятельность: статус занятости (работает, самозанятый, безработный, военнослужащий) со всей соответствующей информацией.</li>
    </ul>
    <p>Наша система гарантирует хранение и удобный доступ к информации о студентах, их трудовой деятельности и смене статусов с датированными отметками. Мы также предоставляем возможность:</p>
    <ul>
      <li>Просмотра списка работодателей выпускников.</li>
      <li>Импорта списка сведений о выпускниках из файла формата CSV.</li>
      <li>Экспорта данных о студенте в формат PDF с детализацией хронологии трудоустройства.</li>
    </ul>
    <p>Наш интерфейс разработан для максимального удобства пользователя, вне зависимости от уровня опыта работы с подобными системами. Мы дорожим простотой и интуитивной понятностью.</p>
    <p>Необходимая информация о каждом выпускнике всегда под рукой, у нас вы найдёте все необходимые инструменты для учета и управления данными 😄</p>
    </div>
{% endblock %}